# CORE
openai==1.12.0
python-dotenv==1.0.1
pandas==2.2.1
tqdm==4.66.2
lxml
psycopg2-binary==2.9.9
supabase==2.15.3

# STREAMLIT + GRAFICOS
streamlit
plotly

# LANGCHAIN + GPT
langchain==0.1.9
langchain-community==0.0.24

# WEB SCRAPING
selenium==4.18.1
webdriver-manager==4.0.1

# FECHAS Y LOCALES
babel

# FASTAPI
fastapi==0.110.0
uvicorn==0.27.1

# ADDITIONAL DEPENDENCIES
python-multipart==0.0.9

# NEW DEPENDENCIES
sqlalchemy==2.0.28
pydantic==2.6.3
numpy==1.26.4
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic-settings==2.2.1
email-validator==2.1.0.post1

# Base de datos y ORM
alembic==1.13.1
asyncpg==0.29.0
postgrest==1.0.2

# Procesamiento de datos
openpyxl==3.1.2
python-dateutil==2.8.2
pytz==2024.1

